*{
    font-family: "Segoe UI", Helvetica, Verdana;
    text-shadow: none;
    border-radius: 0;
}

html,body{
    overflow: hidden;
    height: 100%;
}

table{
    width: 100%;
}

td {
    text-align: center;
}

td#icon-actus{
    background: #e51400 url('images/actus.png') no-repeat center;
}

td#icon-actus:hover{
    background-color:#ff4430;
}

td#icon-monenfant{
    background: #1ba1e2 url('images/monenfant.png') no-repeat center;
}

td#icon-monenfant:hover{
    background-color:#5BE1FF;
}

td#icon-amfe{
    background: #60a917 url('images/amfe.png') no-repeat center;
}

td#icon-amfe:hover{
    background-color:#90D947;
}

td#icon-depister{
    background: #f0a30a url('images/depister.png') no-repeat center;
}

td#icon-depister:hover{
    background-color:#FFC32A;
}

td#icon-accompagner{
    background: #9a165a url('images/accompagner.png') no-repeat center;
}

td#icon-accompagner:hover{
    background-color:#CA468A;
}

h5.ui-li-heading{
    white-space: normal;
}

/*RSS READER*/

div#test{
    padding:2px;
    overflow: hidden;
    width: inherit;
}

div.rssBody ul.ui-listview{
    margin: 0;
}